<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<style>
body{background:#fff;font-family:Arial, Helvetica, sans-serif;}.row{width:100%;margin:0 auto;background: #fff;}footer{text-align:left;display:block;font-size:11px;padding:14px0;margin-top:25px;border-top:1px solid black;}.right{float:right;padding:10px 15px;}
</style>
<script type="text/javascript">
function number_pages(){var vars={};var x=document.location.search.substring(1).split('&');for(var i in x){var z=x[i].split('=',2);vars[z[0]]=unescape(z[1]);}var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];for(var i in x){var y=document.getElementsByClassName(x[i]);for(var j=0;j<y.length;++j)y[j].textContent=vars[x[i]];}}
</script>
</head>
<body onload="number_pages()">
<div class="row">
<footer>
<div class="right">Page <span class="page"></span> of <span class="topage"></span></div>
</footer>
</div>
</body>
</html>
